header {
  display: flex;
  align-items: center;
  height: 76px;
  padding: 27px;
  background-color: variables.$grey-0;

  .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 77rem;
    h2 {
      font-size: variables.$heading-1;
      color: variables.$grey-600;
      word-spacing: -2px;
      cursor: default;
      span {
        font-size: variables.$heading-2;
        color: variables.$color-primary;
      }
    }
    .header__cart {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 50%;
      justify-content: space-between;
      height: 39px;
      .search__container {
        display: flex;
        position: relative;
        input {
          width: 122px;
          height: 30px;
          border-radius: 4px;
          border: 2px solid variables.$grey-400;
          padding: 0px 18px 0px 9px;
          color: variables.$grey-600;

        }
        button {
          position: absolute;
          top: 6px;
          left: 101px;
          height: 0px;
          background-color: #FFF;

        }
      }
      button{
        background-color: variables.$grey-0;
        border: none;
        color: variables.$grey-400;
        position: relative;
        span {
          position: absolute;
          top: -15px;
          left: 12px;
          color: #FFF;
          width: 20px;
          height: 24px;
          background-color: variables.$color-primary;
          border-radius: 7px;
          padding: 4px;
        }
      }
    }
  }

}


@media screen and (min-width: 768px){
  .header__container {
    margin: 0 auto;
  }
}
