$color-primary: #27AE60;
$color-secondary: #EB5757;

$grey-0: #F5F5F5;
$grey-100: #E0E0E0;
$grey-300: #828282;
$grey-400: #BDBDBD;
$grey-600: #333333;

$heading-1: 26px;
$heading-2: 22px;
$heading-3: 18px;
$headline: 16px;
$body: 14px;
$caption: 12px;

$bold: 700;
$semi-bold: 600;
$regular: 400;

$font-primary: 'Inter', sans-serif;
