.cart__card__item {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  img {
    width: 55px;
    height: 53px;
  }
  div {
    display: flex;
    gap: 10px;
    .cart__img__container {
      background-color: variables.$grey-100;
      width: 82px;
      height: 80px;
      padding: 17px;
    }
  }
  button {
    color: variables.$grey-400;
    background-color: #FFF;
    border: none;
  }
}

.cart__info {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: variables.$heading-3;
    font-weight: variables.$bold;
    color: variables.$grey-600;
  }
  p {
    color: variables.$color-primary;
    font-weight: variables.$semi-bold;
    font-size: variables.$body;
  }
}